# Build directories
/build/
/tmp/

# Generated documentation and coding manuals
/docs/a64/html/
/docs/avr/html/
/docs/manuals/

# Compiled artifacts
*.o
*.a
*.elf
*.hex
*.map
*.d

# Executables
prog

# Backup/editor files
*~
*.swp
*.swo
.DS_Store

# Mistaken HP2803A/HP2803A-docs folder
/HP2803A-docs/
